<html>

  <head>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.css" />
    <script>
      var userIdToken = null;

      firebase.initializeApp({
        apiKey: "{{ firebase_auth.api_key }}",
        authDomain: "{{ firebase_auth.project_id }}.firebaseapp.com",
        databaseURL: "https://{{ firebase_auth.project_id }}.firebaseio.com",
        storageBucket: "{{ firebase_auth.project_id }}.appspot.com",
        projectId: "{{ firebase_auth.project_id }}"
      });


      var ui = new firebaseui.auth.AuthUI(firebase.auth());
      ui.start("#firebaseui-auth-container", {
            queryParameterForSignInSuccessUrl: "next",
            signInOptions: [{{ firebase_auth.provider_ids }}],
            callbacks: {
              signInSuccess: function(user, credential, redirectUrl) {

                user.getIdToken().then(function(idToken) {
                    userIdToken = idToken;
                    /* Now that the user is authenicated, pass the token along to the server. */
                    $.ajax('/auth/sign-in', {
                      /* Set header for the XMLHttpRequest to get data from the web server
                      associated with userIdToken */
                      headers: {
                        'Authorization': 'Bearer ' + userIdToken
                      },
                      method: 'POST'
                    }).done(function(data) {
                      console.log(data);
                      console.log('success');
                      window.location.replace(redirectUrl || "{{ request.url_root }}");
                    }).fail(function(errorMessage) {
                      console.log(errorMessage);
                      console.log('fail');
                    });
                  });

                  return false;
                }
              }
            });
    </script>
  </head>

  <body>
    <div id="firebaseui-auth-container"></div>
  </body>

</html>
